<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="\resources\static\css\index.css">
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
    />
    <title>Happydodam</title>
</head>
<body style="background-color: #fff6f4;">
<nav class="nav-container">
    <!-- 나무 이모티콘 -->
    <!-- <div style="display: flex; flex-direction: row; align-items: center;">
      <img src="C:\Users\multicampus\Desktop\jaesung\PJT\자율pjt\3561768_forest_leaves_plant_tree_icon.png" alt="good" style="height: 2rem;">
      <div class="nav-title" style="padding: 0;">
        도담도담
      </div>
    </div> -->
    <div class="nav-title" style="padding: 0;">
        도담도담
    </div>
    <!-- 글자 크기 다르게 -->
    <!-- <div style="display: flex; flex-direction:row;   align-items: flex-end; height: 2rem;">
      <div class="nav-title-two">
        도
      </div>
      <div class="nav-title-sub">
        담
      </div>
      <div class="nav-title-two">
        도
      </div>
      <div class="nav-title-sub">
        담
      </div>
    </div> -->
    <div class="nav-content-container">
        <div class="nav-download">
            Download
        </div>
        <div class="nav-download">
            UCC
        </div>
    </div>

</nav>
<main class="main-container">
    <div style="display: flex; flex-direction: column;">
        <div class="main-intro">
            Welcome!
        </div>
        <div class="main-content">
            가족 소통을 위한 한 걸음
        </div>
        <!-- <div class="btn-container">
          <button class="app-btn">
            앱 다운로드
            <i class="fas fa-download"></i>
          </button>
          <button class="app-btn">
            UCC
          </button>
        </div> -->
        <button class="app-btn">
            <a href="/DodamDodam.apk" type="application/vnd.android.package-archive">App 다운로드</a>
            앱 다운로드
            <i class="fas fa-download"></i>
        </button>
    </div>

    <div>
        <img src="{/static/img/메인로고(배경제거).png}" alt="good" style="width: 30rem;">
    </div>
</main>

</body>
</html>